/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/build.gradle
/CREDITS-fml.txt
/forge-1.7.10-10.13.2.1291-changelog.txt
/gradlew
/*.lnk
/.gradle
/.settings
/bin
/build
/eclipse
/gradle
/.classpath
/.project
/buildlog.txt
